<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jays.dal.test">


    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="dal.shelve12.presenter.Terms"></activity>
        <activity android:name="dal.shelve12.presenter.Medals" />
        <activity android:name="dal.shelve12.presenter.XIIStore" />
        <activity android:name="dal.shelve12.presenter.TutorialActivity" />
        <activity android:name="dal.shelve12.presenter.QRCode" />
        <activity
            android:name="dal.shelve12.presenter.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="dal.shelve12.presenter.PlayActivity" />
        <activity
            android:name="dal.shelve12.presenter.DashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="dal.shelve12.presenter.MusicService"
            android:enabled="true" />
    </application>

</manifest>